body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

header {
    flex: 0 40px;
}

main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: larger;
}

menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
}

footer {
    flex: 0 30px;
}

footer a {
    float: right;
}

#login {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
}

#user-auth {
    display: flex;
    flex-direction: column;
    align-items: ce