.body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

header {
  flex: 0 0 auto;
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: larger;
  width: 100%;
}

footer {
  flex: 0 0 auto;
  /*flex-grow: 0;*/
  /*width: 100%;*/
  padding: 1em;
  height: 60px !important;
  justify-content: space-between;
  /*background-color: #333;*/
  /*color: #fff;*/
}

#login {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}

#user-auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}

h1 {
  text-shadow: 3px 3px 5px black;
}

.bg-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}